@import "components/root.css";
@import "components/header.css";
@import "components/reset.css";
@import "components/popular.css";
@import "components/footer.css";
@import "components/common.css";
@import "media/aboutus.css";
@import "components/font.css";
.haqqimizda {
  margin: 0 50px 50px 50px;
}
.haqqimizda > p {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 36px;
}
.haqqimizda-slide,.structure-top,.structure-bottom,.image-text {
    display: flex;
}
.structure-top,.structure-bottom {
    align-items: center;
}
.haqqimizda-slide {
  cursor: pointer;
    align-items: center;
}
.haqqimizda-slide > p {
    color: var(--brown);
}
.haqqimizda-slide > svg {
    margin-right: 15px;
}
.image-border,.image-border-btm {
    border: 1px solid var(--brown);
    padding: 10px;
    width: max-content;
}
.image-border {
    margin-right: 60px;
}
.image-border-btm {
    margin-bottom: 15px;
    /* margin: 0 0 15px 60px; */
}
.image-border-btm > div {
    color: var(--beige);
}
.person {
    display: inline-block;
    margin-bottom: 25px;
}
.accent {
    display: inline;
    padding-left: 5px;
}
.text {
    font-size: 20px;
}
.structure-top{
    margin-bottom: 100px;
}
.text > ul > li,.text-block > ul > li {
    margin-bottom: 15px;
}
.bold1 {
    font-weight: 700;
    margin-bottom: 15px;
}
.text-block {
    margin-bottom: 50px;
}
.pic-desc {
    color: var(--brown);
}
.pic-name {
    font-size: 20px;
}
.image-text {
    align-items: center;
    flex-direction: column;
    margin-left: 60px;
}
.structure-mob {
  display: none;
}
/* .header-container,.page-nav {
  margin: 0 50px;
} */
.main {
  margin: 0px !important;
}
.header-container,.structure {
  margin: 0 50px;
}
.page-nav > ul > li:nth-child(2) {
  color: var(--brown);
}