@import "components/root.css";
@import "components/header.css";
@import "components/reset.css";
@import "media/main.css";
@import "components/popular.css";
@import "components/footer.css";
@import "components/common.css";
@import "components/font.css";
.title-pic,.title-button,.text-line,.title-btn,.title-pic-mob-btn,.jurnal,.jurnal-btns {
    display: flex;
}
.jurnal-elems {
  display: grid;
}
.title-pic {
    align-items: center;
    justify-content: center;
}
.title-pic > img,.title-pic-mob > img {
  object-fit: contain;
}
.title-button {
    height: 75%;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 50px;
}
.title-button > img {
  height: 500px;
}
.title-text h5 {
    margin-bottom: 15px;
    font-size: 70px;
    color: var(--black);
}
.text-line {
    align-items: center;
}
.line {
    height: 2px;
    width: 150px;
    background: #363531;
}
.title-btn {
    align-items: center;
    color: var(--brown);
    cursor: pointer;
}
.title-btn > svg,.text-line > p {
    margin-right: 15px;
}
.title-pic-mob {
    display: none;
}
.title-pic-mob-btn {
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.title-pic-mob-btn > p {
    color: var(--brown);
}
.jurnal {
    flex-direction: column;
}
.jurnal h5 {
    font-size: 64px;
    text-align: center;
    color: var(--black);
    margin-bottom: 30px;
}
.pic-border {
    width: max-content;
    border: 1px solid var(--brown);
    padding: 10px;
}
.pic-border > img {
  height: 350px;
}
.jurnal-elem p {
    font-size: 26px;
}
.jurnal-elem > *:not(:last-child) {
    margin-bottom: 15px;
}
.jurnal-elem {
    margin: 0 15px 30px 0;
}
.read,.download {
    font-size: 20px;
    margin-right: 15px;
    cursor: pointer;
}
.read {
    color: var(--red);
}
.download {
    color: var(--brown)
}
.jurnal-btn {
    width: max-content;
    align-self: center;
    padding: 10px 25px;
    background: var(--brown);
    color: var(--beige);
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 30px;
}
.about-us-container {
    background: var(--black);
    padding: 50px 50px;
}
.about-us-line h5 {
    font-size: 64px;
    color: var(--beige)
}
.about-us-container p {
    color: var(--beige);
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
}
.about-us-container > *:not(:last-child){
    margin-bottom: 30px;
}
.jurnal-elems {
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
}