.popular {
  display: flex;
  padding: 30px 50px;
  justify-content: center;
  background: var(--beige)
}
.popular > img:not(:last-child) {
  margin-right: 10px;
}
@media only screen and (max-width: 1000px) {
  .zerife,.leyla {
    display: none;
  }
}