@import "root.css";
.main {
  margin: 0 50px;
}
.main-container {
  background: var(--beige);
}
.page-nav,.title-line {
  display: flex;
}
.page-nav {
  align-items: center;
  height: 50px;
  background: var(--beige2);
}
.page-nav > p:nth-child(1) {
  margin-right: 5px;
}
.page-nav > p:nth-child(2) {
  color: var(--brown);
  margin-left: 5px;
}
.page-nav > p {
  display: inline-block;
}
.title-line {
  align-items: center;
}
.title {
  text-align: center;
  font-size: 64px;
  color: var(--black);
  margin-bottom: 30px;
}
.line1 {
  height: 2px;
  width: 100%;
  background: var(--black);
  margin-bottom: 14px;
}
@media only screen and (max-width: 768px) {
  .title-line {
    flex-direction: column;
  }
  .line1 {
    width: 150px;
  }
}